@import './reset.scss';

body {
    background-color: $normal-background-color;
    height: 100%;
    width: 100%;
    position: relative;
}

svg {
    border-radius: $border-radius-circle;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-top-10 {
    margin-top: 10px;
}

.padding-left-10 {
    padding-left: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-top-10 {
    padding-top: 10px;
}